body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  height: 160px;
  background: linear-gradient(to bottom, white, black);
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.logo img {
  max-width: 180px;
  height: auto;
}

.topnav {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.topnav .tablink {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background-color: #gray;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow: hidden;
  position: relative;
}

.topnav .tablink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.88;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 0.3s ease;
}

.topnav .tablink:hover img {
  opacity: 1;
}

.topnav .tablink span {
  font-size: 25px;
  font-weight: bold;
  color: #C6E7FF;
  font-family: times, monospace;
  z-index: 1;
}

.topnav .tablink:hover span {
  color: #000;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  width: 97.89%;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: white;
}

footer p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer a {
  display: inline-block;
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ff6347;
}

footer a img {
  width: 30px;
  height: auto;
  vertical-align: middle;
  margin-right: 8px;
  transition: transform 0.3s ease;
}

footer a img:hover {
  transform: scale(1.1);
}
